<div class='new-reminder-box'>
  <h3 class='new-reminder--heading'> New Reminder </h3>
    <form class='new-reminder--form' {{action 'createReminder' on='submit'}}>
      {{input name='title-input' placeholder='title' type='text' value=title class="reminder-title"}} <br>
      {{pikaday-input name='date-input' value=date onSelection=(action (mut date))}} <br>
      {{textarea name='notes' type='text' placeholder='notes' value=notes class="reminder-notes" cols='50' rows='5'}} <br>
      <button class='btn btn-submit' name='submit-btn' type="submit">Submit</button>
    </form>
</div>
