<div>
    <form class='new-reminder--form' {{action 'createReminder' on='submit'}}>
      <label for='title'>Title: </label>
      {{input type='text' value=title class="reminder-title"}} <br>
      <label for='Date'>Date: </label>
      {{input type='date' value=date class="reminder-date"}}  <br>
      <label for='Notes'>Notes: </label>
      {{input type='text-area' value=notes class="reminder-notes"}} <br>
      <button type="submit">Submit</button>
    </form>
</div>
