@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Oswald');
@import 'variables';
@import 'mixins';

.app-body {
  margin-top: 100px;
}

.nav {
  position: fixed;
  top: 0;
  width: inherit;
  background-color: white;
}

.application {
  width: 1000px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

a {
  transition: all 0.3s ease;
  color: $link-text-color;
  text-decoration: none;

  &.active {
    color: $link-active-color;

    &:hover {
      color: $link-active-color;
    }
  }

  &:hover {
    color: $link-hover-color;
  }
}

.app-title {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 60px;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.spec-reminder-display-item--notes {
  font-size: 18px;
  font-weight: 300;
}

.edit-reminder--heading,
.new-reminder--heading {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: lighter;
}

.spec-reminder-list-item {
  width: 400px;

  .spec-reminder-list-item--title {
    padding-top: 5px;
    padding-left: 40px;
    font-weight: 400;
  }

  .spec-reminder-list-item--date {
    padding-bottom: 5px;
    padding-left: 40px;
    color: $date-display-color;
    font-weight: 300;
  }
}

.reminders-list {
  display: inline-block;
  width: 400px;
  height: 100%;
  margin: 0 20px;
  border-right: 1px solid $border-hr-color;

  .no-items-msg {
    text-align: center;
  }
}

.spec-reminder-display-item,
.new-reminder,
.edit-reminder {
  display: inline-block;
  position: fixed;
  max-width: 480px;
  margin-top: 10px;
  padding: 0 20px;
}

hr {
  width: 90%;
  height: 0;
  border: 0;
  border-top: 1px solid $border-hr-color;
}

.rspec-reminder-display-item--title {
  margin-top: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.spec-reminder-display-item--date {
  color: $date-display-color;
  font-weight: 300;
}

.btn {
  @include button-input-style;

  &:hover {
    filter: opacity(90%);
  }
}

.btn-new {
  margin-top: 30px;
  margin-right: 60px;
  margin-bottom: 10px;
  float: right;
  background-color: $new-btn-bg-color;
  color: $new-btn-text-color;
  font-size: 18px;
  font-weight: 300;

  &:hover {
    background-color: $new-btn-hover-color;
  }
}

.btn-submit {
  background-color: $submit-btn-bg-color;
  color: $submit-btn-text-color;
  font-size: 18px;
  font-weight: 300;

  &:hover {
    background-color: $submit-btn-hover-color;
  }
}

input,
textarea {
  margin: 10px 0;
  padding: 10px 20px;
  border: 1px solid $input-placeholder-color;
  border-radius: 5px;
  outline: 0;
  font-size: 16px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $input-placeholder-color;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $input-placeholder-color;
}

:-ms-input-placeholder { /* IE 10+ */
  color: $input-placeholder-color;
}

:-moz-placeholder { /* Firefox 18- */
  color: $input-placeholder-color;
}
