@import 'flat-ui-colors';

$app-background-color: #fff;
$link-active-color: #ff5722;
$link-text-color: #000;

$link-hover-color: #0fa3b1;

$date-display-color: #9E9E9E;

$border-hr-color: rgba(0, 0, 0, 0.1);

$new-btn-bg-color: $belize-hole;
$new-btn-text-color: #fff;
$new-btn-hover-color: $peter-river;

$submit-btn-bg-color: $nephritis;
$submit-btn-text-color: #fff;
$submit-btn-hover-color: $emerald;

$input-border-color: $silver;
$input-placeholder-color: $silver;

$edit-btn-bg-color: $green-sea;
$edit-btn-text-color: #fff;
$edit-btn-hover-color: $turquoise;

$undo-btn-bg-color: $pomegranate;
$undo-btn-text-color: #fff;
$undo-btn-hover-color: $alizarin;
