<div class="spec-reminder-display-item">
  <h2 class="reminder-item--title">{{model.title}}</h2>
  <p class="reminder-item--date">{{moment-format model.date 'dddd, MMMM Do YYYY, h:mm:ss a'}}</p>
  <p class="reminder-item--notes">{{model.notes}}</p>
</div>
