<div class="spec-reminder-item">
  <h2 class="spec-reminder-item--title">{{model.title}}</h2>
  <p class="spec-reminder-item--date">Date: {{model.date}}</p>
  <p class="spec-reminder-item--notes">{{model.notes}}</p>
</div>
