{{outlet}}

<div class='reminders-list'>
  {{#each model as |reminder|}}
    {{reminder-item reminder=reminder}}
  {{/each}}
</div>

{{#Link-to 'reminders.new' tagName='button'}} New Reminder {{/Link-to}}
